
* {
  box-sizing: border-box;
  font-family: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  padding: 10px;

  @media screen and (min-width: 400px) {
    padding: 25px;
  }
}

main {
  background: white;
  border-radius: 15px;
  padding: min(5vw, 50px);
  margin: 0 auto;
  max-width: 640px;
}

h1 {
  margin: 0;
}

form
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 10px;
}
button,
input {
  font: inherit;
}

a {
  color: #099ba4;
}

code {
  font-family: ui-monospace, Menlo, Monaco, "Consolas", "Courier New", monospace;
}

button,
.btn-primary {
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  color: #FFF;
  background: #099ba4;
  line-height: 1.5;
  font-weight: 400;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: background 0.25s ease-in-out;
}

.btn-primary:hover {
  background: #099ba4;
}

p,
ul,
ol {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 16px;
}

ul li,
ol li {
  list-style-position: inside;
}

fieldset ol > li {
  margin: 0;
  position: relative;
  background: #fafafa;
  padding: 20px;
}

fieldset ol > li:nth-child(even) {
  background: #fff;
}

span.label {
  display: block;
  font-weight: 400;
}

label {
  color: #000;
  display: block;
  margin: 0 0 20px;
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
}

.icon {
  width: 1em;
  height: 1em;
  margin: 0 0.5em 0 0;
}

.input-wrap {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #aaa;
  color: #999;
  display: flex;
  margin-top: 20px;
  transition: all 0.1s ease;
  width: 100%;
}

.input-wrap > * {
  align-self: center;
}


.input-wrap:focus-within {
  border-color: #099ba4;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.input-wrap input.input-middle {
  box-sizing: content-box;
  flex: 0 1 auto;
  overflow: visible;
  width: 2em;
}

.input-wrap input.input-middle[maxlength="4"] {
  width: 4.5ch;
}

.input-wrap input + input {
  padding-left: 0;
}

.input-wrap:focus-within input {
  outline: none !important;
}

.input-wrap .input-pre,
.input-wrap .input-post {
  align-self: stretch;
  background: #eee;
  width: 3em;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.input-wrap .input-pre {
  border-radius: 2px 0 0 2px;
}
.input-wrap .input-post {
  border-radius: 0 2px 2px 0;
}
.input-wrap svg {
  color: #777;
  width: 1.5em;
  height: 1.5em;
  margin-top: -0.2em;
}
.error .input-wrap {
  border-color: #d45252;
}
.error .input-wrap .input-pre,
.error .input-wrap .input-post {
  background: #FFEAEA;
}
.error .input-wrap svg {
  color: #d45252;
}

input[type=text],
input[type=date],
input[type=month],
input[type=year],
input[type=search],
input[type=tel],
input[type=email],
input[type=password],
input[type=number],
select,
textarea {
  border: none;
  font: inherit;
  padding: 10px;
  width: auto;
}
input[type=text].error,
input[type=date].error,
input[type=month].error,
input[type=year].error,
input[type=search].error,
input[type=tel].error,
input[type=email].error,
input[type=password].error,
input[type=number].error,
select.error,
textarea.error {
  background: #FFF5F5;
}

.hint {
  color: #333;
  font-size: 14px;
  margin: 5px 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #999;
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}

:-moz-placeholder { /* Firefox 18- */
  color: #999;
  opacity: 1;
}

/*------------------------------------------------------------------------------
    Errors
------------------------------------------------------------------------------*/

.errors {
  background: #ffd5d5;
  border-left: 5px solid #c00;
  margin: 20px -20px 20px -25px;
  padding: 15px;
}

.errors h3 {
  color: #c00;
}

.errors ul {
  margin: 0;
}

.errors li:before {
  color: #c00;
  content: "⚠";
  display: inline-block;
  font-size: 1.1em;
  margin: -0.5em 0.5em -0.5em 0;
}