/*!*****************************************************************************
*               _____      _                _            
*              / ____|    | |              | |           
*    ___  ___ | |     __ _| | ___ _ __   __| | __ _ _ __ 
*   / __|/ _ \| |    / _` | |/ _ \ '_ \ / _` |/ _` | '__|
*   \__ \ (_) | |___| (_| | |  __/ | | | (_| | (_| | |   
*   |___/\___/ \_____\__,_|_|\___|_| |_|\__,_|\__,_|_|   
*                                                        
*   soCalendar - Created by Stewart Orr (https://www.stewartorr.co.uk)
*   https://github.com/stewartorr/soCalendar
*   https://www.stewartorr.co.uk/socalendar
*
*******************************************************************************/

// TODO, use sass functions to generate colours
// TODO, move to separate file
$socalendar-bg-color: #fff;
$socalendar-primary-color: #099ba4;
$socalendar-primary-dark: #0c8086;
$socalendar-primary-color-light: #E7F8F7;
$socalendar-primary-color-hover: #CEF0EF;
$socalendar-secondary-color: #495057;
$socalendar-dark-color: #161616;
$socalendar-gray-color: #999;
$socalendar-silver-color: #e4e7e7;
$socalendar-border-radius-dialog: 20px;
$socalendar-border-radius-content: 6px;
$socalendar-padding-large: 25px;
$socalendar-padding-small: 20px;
$socalendar-backdrop: rgba(9, 155, 164, 0.25);
$socalendar-transition-timing-big: 0.5s;
$socalendar-transition-timing-small: 0.15s;
$socalendar-breakpoint: 380px;

body.socalendar-open {
  overflow: hidden;
}

.socalendar {
  --socalendar-bg-color: #{$socalendar-bg-color};
  --socalendar-primary-color: #{$socalendar-primary-color};
  --socalendar-primary-dark: #{$socalendar-primary-dark};
  --socalendar-primary-color-light: #{$socalendar-primary-color-light};
  --socalendar-primary-color-hover: #{$socalendar-primary-color-hover};
  --socalendar-secondary-color: #{$socalendar-secondary-color};
  --socalendar-bg-color: #{$socalendar-bg-color};
  --socalendar-dark-color: #{$socalendar-dark-color};
  --socalendar-gray-color: #{$socalendar-gray-color};
  --socalendar-silver-color: #{$socalendar-silver-color};
  --socalendar-backdrop: #{$socalendar-backdrop};
  --socalendar-border-radius-dialog: #{$socalendar-border-radius-dialog};
  --socalendar-border-radius-content: #{$socalendar-border-radius-content};
  --socalendar-transition-timing-big: #{$socalendar-transition-timing-big};
  --socalendar-transition-timing-small: #{$socalendar-transition-timing-small};
  --socalendar-padding-large: #{$socalendar-padding-large};
  --socalendar-padding-small: #{$socalendar-padding-small};
  --socalendar-padding-gap: 2px;
  --socalendar-inner-gap: 12px;
  --socalendar-icon-size: 28px;
  --socalendar-width: 100vw;
  --socalendar-size: calc(var(--socalendar-width) - (var(--socalendar-padding-large) * 2));
  --socalendar-footer-size: calc(var(--socalendar-icon-size) + var(--socalendar-inner-gap));

  background: var(--socalendar-bg-color);
  border-radius: var(--socalendar-border-radius-dialog);
  border: 0;
  box-shadow: 0 1em 5em rgba(0, 0, 0, 0.25);
  display: block;
  padding: var(--socalendar-padding-large);
  position: fixed;
  transform: translate3d(0, 0, 0) scale(0.2);
  transition: all var(--socalendar-transition-timing-small) ease-out;
  visibility: hidden;
  z-index: 1001;
  min-width: var(--socalendar-width);
  width: var(--socalendar-width);

  &:focus-visible {
    outline-color: var(--socalendar-primary-color);
  }

  @media screen and (max-width: #{$socalendar-breakpoint - 1}) {
    --socalendar-padding-large: min(5vw, 20px);
    --socalendar-border-radius-dialog: 12px;
    --socalendar-border-radius-content: 6px;
    --socalendar-header-font-size: 18px;
    max-width: 100vw;
    margin: auto 0;
  }

  @media screen and (min-width: #{$socalendar-breakpoint}) {
    --socalendar-width: #{$socalendar-breakpoint};
    --socalendar-padding-gap: 4px;
    --socalendar-border-radius-dialog: #{$socalendar-border-radius-dialog};
    --socalendar-border-radius-content: #{$socalendar-border-radius-content};
    --socalendar-header-font-size: 22px;

    margin: auto;
  }
  
  &::backdrop {
    background: var(--socalendar-backdrop);
    transition: background var(--socalendar-transition-timing-big) ease;
    
    @starting-style {
      background: rgba(0, 0, 0, 0);
    }
  }

  .socalendar-inner {
    display: flex;
    flex-direction: column;
    gap: var(--socalendar-inner-gap);
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0.5);
    transition: opacity var(--socalendar-transition-timing-big) cubic-bezier(0.23, 1, 0.32, 1);
  }

  // When it's open
  &[open] {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform var(--socalendar-transition-timing-big) cubic-bezier(0.23, 1, 0.32, 1);
    
    .socalendar-inner {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
      transition: all var(--socalendar-transition-timing-big) cubic-bezier(0.23, 1, 0.32, 1) var(--socalendar-transition-timing-small);
    }
  }
  
  // Utility classes
  &.socalendar-visible {
    display: block;
  }
  
  .socalendar-hidden {
    display: none !important;
  }
  
  .socalendar-visually-hidden {
    border: 0;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .socalendar-row {
    align-items: center;
    display: flex;
    gap: var(--socalendar-padding-gap);
    justify-content: space-between;
  }
  
  .socalendar-label-prev,
  .socalendar-label-next {
    align-items: center;
    display: flex;
    gap: var(--socalendar-padding-gap);
    height: 32px;
  }
  
  .socalendar-label-next {
    justify-content: flex-end;
  }

  button {
    background: none;
    border: 0;
    color: var(--socalendar-gray-color);
    cursor: pointer;
    line-height: 1;
    margin: 0;
    opacity: 1;
    padding: 0;
    transition: all var(--socalendar-transition-timing-small) ease;
    will-change: color, opacity;
    
    &:focus-visible {
      outline: 2px solid var(--socalendar-primary-color);
    }

    svg {
      height: var(--socalendar-icon-size);
      width: var(--socalendar-icon-size);
      vertical-align: bottom;

      @media screen and (min-width: $socalendar-breakpoint) {
        --socalendar-icon-size: 32px;
      }
    }
    
    &[disabled] {
      opacity: 0.33 !important;
      cursor: not-allowed !important;
    }
    
    &:not([disabled]):hover {
      color: var(--socalendar-secondary-color);
    }
    
    &.socalendar-cancel,
    &.socalendar-confirm,
    &.socalendar-prev-year,
    &.socalendar-prev-month,
    &.socalendar-back {
      opacity: 1;
      transition: var(--socalendar-transition-timing-small) ease var(--socalendar-transition-timing-small);
      
      @starting-style {
        opacity: 0;
        transform: translateX(5px);
      }
    }

    &.socalendar-today {
      opacity: 1;
      transition: var(--socalendar-transition-timing-small) ease var(--socalendar-transition-timing-small);
      
      @starting-style {
        opacity: 0;
      }
    }

    &.socalendar-confirm,
    &.socalendar-next-year,
    &.socalendar-next-month,
    &.socalendar-edit {
      opacity: 1;
      transition: var(--socalendar-transition-timing-small) ease var(--socalendar-transition-timing-small);

      @starting-style {
        opacity: 0;
        transform: translateX(-5px);
      }
    }
    
    &.socalendar-input-button {
      padding: 5px 10px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &.socalendar-button-label {
      height: 1.7em;
      overflow: hidden;
      position: relative;
      width: 50%;

      &:hover {
        color: var(--socalendar-dark-color);
      }
      
      // Create shadow to make transition smooth
      &::before {
        content: "";
        position: absolute;
        box-shadow: 0 6px 6px -4px var(--socalendar-bg-color) inset, 
        0 -6px 6px -4px var(--socalendar-bg-color) inset;
        inset: 0;
        z-index: 1;
      }

      span {
        display: flex;
        flex-flow: column nowrap;
        height: 1.7em;
        justify-content: center;
        line-height: 1.7em;
        transform: translate3d(0, 0, 0);
        transition: all var(--socalendar-transition-timing-small) ease;
        
        &:before,
        &:after {
          height: 1.7em;
        }
        
        &:before {
          content: attr(data-before);
        }
        
        &:after {
          content: attr(data-after);
        }
      }

      &.next span {
        transform: translate3d(0, -1.7em, 0);
      }
      
      &.prev span {
        transform: translate3d(0, 1.7em, 0);
      }
    }

    &.socalendar-label-month {
      color: var(--socalendar-dark-color);
      text-align: right;
    }

    &.socalendar-label-year {
      text-align: left;
    }
  }

  .socalendar-label {
    align-items: center;
    color: var(--socalendar-secondary-color);
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    font-size: var(--socalendar-header-font-size);
    gap: var(--socalendar-padding-gap);
    justify-content: center;
    justify-self: stretch;
    transition: transform var(--socalendar-transition-timing-small) ease;
    
    button {
      color: inherit;
      font-size: var(--socalendar-header-font-size);
      font-weight: 400;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
  }
  
  &[data-socalendar-view="month"] {
    button.socalendar-label-month {
      background: var(--socalendar-bg-color);
      box-shadow: 0 0 15px 10px var(--socalendar-bg-color);
      color: var(--socalendar-primary-color);
      transform: translateX(15px);
      z-index: 1;
    }

    button.socalendar-label-year {
      color: var(--socalendar-gray-color);
      opacity: 0.5;
    }
  }

  &[data-socalendar-view="year"] {
    button.socalendar-label-month {
      color: var(--socalendar-gray-color);
      opacity: 0.5;
    }
    button.socalendar-label-year {
      background: var(--socalendar-bg-color);
      box-shadow: 0 0 15px 10px var(--socalendar-bg-color);
      color: var(--socalendar-primary-color);
      transform: translateX(-15px);
      z-index: 1;
    }
  }

  .socalendar-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(
      var(--socalendar-width) - 
      var(--socalendar-footer-size) + 
      var(--socalendar-inner-gap)
    );
    overflow: hidden;
  }
  
  .socalendar-content-inner {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: center;
    transform: translate3d(0, 0, 0);
    will-change: transform;

		&.prev,
		&.next {
			transition: transform var(--socalendar-transition-timing-small) ease;
		}

		&.prev {
			transform: translate3d(100%, 0, 0);
		}

		&.next {
			transform: translate3d(-100%, 0, 0);
		}
  }
  
  .socalendar-content {
    align-items: flex-start;
    display: flex;
    flex: 0 0 100%;
    padding: var(--socalendar-padding-gap);
    
    table {
      border: 0;
      margin: 0;
      width: 100%;

      th,
      td {
        width: 14.28571429%; // 100 / 7
      }

      th {
        color: var(--socalendar-gray-color);
        font-weight: normal;
        font-size: 12px;
        padding: 0.5em 0.33em;
      }
      
      th abbr {
        text-decoration: none;
      }
      
      td {
        text-align: center;
        padding: 0 var(--socalendar-padding-gap) var(--socalendar-padding-gap) 0;
      }
    }
    
    .socalendar-month-picker,
    .socalendar-year-picker {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      flex: 0 0 100%;
      height: 100%;
      gap: var(--socalendar-padding-gap);
      
      li {
        flex: 1 0 calc(33.333% - var(--socalendar-padding-gap));
        margin: 0;
        padding: 0;
        
        button {
          transition: 0.25s;
          opacity: 1;
        }
      }
    }

    // Create cascading transition delays for month and year pickers
    .socalendar-month-picker {
      li {
        button {

          
          @starting-style {
            opacity: 0;
          }
        }
        &:nth-child(2n) button,
        &:nth-child(4n) button {
          transition-delay: 0.03s;
        }

        &:nth-child(3n) button,
        &:nth-child(5n) button,
        &:nth-child(7n) button {
          transition-delay: 0.07s;
        }

        &:nth-child(6n) button,
        &:nth-child(8n) button,
        &:nth-child(10n) button {
          transition-delay: 0.11s;
        }

        &:nth-child(9n) button,
        &:nth-child(11n) button {
          transition-delay: 0.14s;
        }

        &:nth-child(12n) button {
          transition-delay: 0.17s;
        }
      }
    }
    
    .socalendar-year-picker {
      li {
        flex: 0 0 calc(50% - 2px);
        
        button {
          
        }
      }
    }

    .socalendar-date-editor,
    .socalendar-year-picker-scroller {
      border-radius: var(--socalendar-border-radius-content);
      border: 1px solid var(--socalendar-gray-color);
      margin-bottom: 10px;
      
      .socalendar-year-picker-label {
        font-size: var(--socalendar-header-font-size);
        display: flex;
        gap: var(--socalendar-inner-gap);
        align-items: center;
        
        .year-value {
          overflow: hidden;
          display: inline-block;
          width: 4ch;
        }

        .separator {
          color: var(--socalendar-gray-color);
          font-weight: 200;

          svg {
            vertical-align: middle;
          }
        }
      }
    }

    .socalendar-year-picker-container {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
    }

    .socalendar-year-picker-scroller {
      padding: 8px;
    } 

    .socalendar-year-picker-wrapper {
      height: 100%;
      overflow: hidden;
      width: 100%;

      .socalendar-year-picker-inner {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        transform: translate3d(-100%, 0, 0);
        will-change: transform;

        &.prev,
        &.next {
          transition: transform var(--socalendar-transition-timing-small) ease;
        }

        &.prev {
          transform: translate3d(0%, 0, 0);
        }

        &.next {
          transform: translate3d(-200%, 0, 0);
        }
      }
    }

    .socalendar-date-editor {
      display: flex;
      justify-content: center;
      overflow: hidden;
      position: relative;
    }
    
    .socalendar-input {
      background: transparent;
      border-radius: var(--socalendar-border-radius-content);
      border: 0;
      caret-color: var(--socalendar-primary-color);
      font-size: 20px;
      font-variant-numeric: tabular-nums;
      outline: 0 !important;
      padding: 10px;
      width: 10ch;
    }

    button.socalendar-button {
      box-sizing: border-box;
      background: var(--socalendar-primary-color-light);
      border-radius: var(--socalendar-border-radius-content);
      color: var(--socalendar-primary-color);
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 400;
      height: 100%;
      transition: background 0.1s ease;
      will-change: background;
      width: 100%;

      &:not([disabled]):hover {
        background: var(--socalendar-primary-color-hover);
        color: var(--socalendar-primary-color)
      }

      &[disabled] {
        background: var(--socalendar-silver-color) !important;
        color: var(--socalendar-dark-color);
        font-weight: 300;
        position: relative;

        &::before {
          background: var(--socalendar-dark-color);
          content: "";
          height: 1px;
          left: 15%;
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
          opacity: 0.5;
          width: 70%;
        }
      }

      &.is-today {
        background: var(--socalendar-bg-color);
        box-shadow: 0 0 0 1px var(--socalendar-primary-color) inset;
      }
      
      &.is-outside-month {
        background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 1px, #fff 1px, #fff 5px);
        color: #aaa;
        font-weight: 300;
      }
      
      &.is-current {
        background: var(--socalendar-primary-color);
        color: var(--socalendar-bg-color);

        &.is-start {
          border-radius: var(--socalendar-border-radius-content) 0 0 var(--socalendar-border-radius-content);
        }

        &.is-in-range {
          border-radius: 0;
          box-shadow: 2px 0 0 var(--socalendar-primary-color), -2px 0 0 var(--socalendar-primary-color);
        }

        &.is-end {
          border-radius: 0 var(--socalendar-border-radius-content) var(--socalendar-border-radius-content) 0;
        }

        &:hover {
          background: var(--socalendar-primary-dark);
          color: var(--socalendar-bg-color);
        }
      }

      &.is-min-date:after,
      &.is-max-date:after {
        content: "";
        position: absolute;
        top: 30%;
        width: 2px;
        background: var(--socalendar-primary-color);
        height: 40%;
      }

      &.is-min-date:after {
        left: 1px;
      }

      &.is-max-date:after {
        right: 1px;
      }
    }
    
    table.socalendar-date-picker {
      button {
        aspect-ratio: 1;
        position: relative;
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .socalendar,
  .socalendar *,
  .socalendar::backdrop {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}